In [1]:
import pandas as pd

In [2]:
final_cardata=pd.read_csv("C:/Users/SAM/Desktop/used car price prediction/final_cardata.csv")
final_cardata

,Car_seats,modelYear,kilometer,ownerNo,price,engine_cc,gear_box,Mileage,bodytype_encoded,transmission_encoded,...,drivetype_4WD,drivetype_AWD,drivetype_FWD,drivetype_RWD,city_bangalore,city_chennai,city_delhi,city_hyderabad,city_jaipur,city_kolkata
0,5,2015,120000,3,400000,998,5,23,2,1,...,0,0,1,0,1,0,0,0,0,0
1,5,2018,32706,2,811000,1497,5,17,6,1,...,0,0,1,0,1,0,0,0,0,0
2,5,2018,11949,1,585000,1199,5,23,2,1,...,0,0,1,0,1,0,0,0,0,0
3,5,2014,17794,1,462000,1197,5,19,7,1,...,0,0,1,0,1,0,0,0,0,0
4,5,2015,60000,1,790000,1248,5,23,6,1,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8295,5,2022,10000,1,509999,998,5,25,2,1,...,0,0,1,0,0,0,0,0,0,1
8296,5,2014,120000,1,180000,796,5,22,2,1,...,0,0,1,0,0,0,0,0,0,1
8297,5,2011,50000,3,550000,1796,7,11,7,0,...,0,0,0,1,0,0,0,0,0,1
8298,5,2012,40000,1,140000,1197,5,18,2,1,...,0,0,1,0,0,0,0,0,0,1
8299,5,2017,120000,2,500000,1461,6,19,6,1,...,0,1,0,0,0,0,0,0,0,1

### spliting data

In [3]:
from sklearn.model_selection import train_test_split

# Assuming car_df is already defined and contains the 'price' column

# Define X and y
X = final_cardata.drop(columns=['price'])  # Features: all columns except 'price'
y = final_cardata['price']                 # Target: 'price' column

# Split the data with a 70:30 ratio
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=20)

print("Data has been split into training and test sets.")

Data has been split into training and test sets.

In [6]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8300 entries, 0 to 8299
Data columns (total 61 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Car_seats                        8300 non-null   int64
 1   modelYear                        8300 non-null   int64
 2   kilometer                        8300 non-null   int64
 3   ownerNo                          8300 non-null   int64
 4   engine_cc                        8300 non-null   int64
 5   gear_box                         8300 non-null   int64
 6   Mileage                          8300 non-null   int64
 7   bodytype_encoded                 8300 non-null   int64
 8   transmission_encoded             8300 non-null   int64
 9   fueltype_Cng                     8300 non-null   int64
 10  fueltype_Diesel                  8300 non-null   int64
 11  fueltype_Electric                8300 non-null   int64
 12  fueltype_Lpg                     8300 non-null   int64
 13  fueltype_Petrol                  8300 non-null   int64
 14  Insurance_Comprehensive          8300 non-null   int64
 15  Insurance_Not Available          8300 non-null   int64
 16  Insurance_Third Party            8300 non-null   int64
 17  Insurance_Third Party insurance  8300 non-null   int64
 18  Insurance_Zero Dep               8300 non-null   int64
 19  oem_Audi                         8300 non-null   int64
 20  oem_BMW                          8300 non-null   int64
 21  oem_Chevrolet                    8300 non-null   int64
 22  oem_Citroen                      8300 non-null   int64
 23  oem_Datsun                       8300 non-null   int64
 24  oem_Fiat                         8300 non-null   int64
 25  oem_Ford                         8300 non-null   int64
 26  oem_Hindustan Motors             8300 non-null   int64
 27  oem_Honda                        8300 non-null   int64
 28  oem_Hyundai                      8300 non-null   int64
 29  oem_Isuzu                        8300 non-null   int64
 30  oem_Jaguar                       8300 non-null   int64
 31  oem_Jeep                         8300 non-null   int64
 32  oem_Kia                          8300 non-null   int64
 33  oem_Land Rover                   8300 non-null   int64
 34  oem_Lexus                        8300 non-null   int64
 35  oem_MG                           8300 non-null   int64
 36  oem_Mahindra                     8300 non-null   int64
 37  oem_Maruti                       8300 non-null   int64
 38  oem_Mercedes-Benz                8300 non-null   int64
 39  oem_Mini                         8300 non-null   int64
 40  oem_Mitsubishi                   8300 non-null   int64
 41  oem_Nissan                       8300 non-null   int64
 42  oem_Opel                         8300 non-null   int64
 43  oem_Porsche                      8300 non-null   int64
 44  oem_Renault                      8300 non-null   int64
 45  oem_Skoda                        8300 non-null   int64
 46  oem_Ssangyong                    8300 non-null   int64
 47  oem_Tata                         8300 non-null   int64
 48  oem_Toyota                       8300 non-null   int64
 49  oem_Volkswagen                   8300 non-null   int64
 50  oem_Volvo                        8300 non-null   int64
 51  drivetype_4WD                    8300 non-null   int64
 52  drivetype_AWD                    8300 non-null   int64
 53  drivetype_FWD                    8300 non-null   int64
 54  drivetype_RWD                    8300 non-null   int64
 55  city_bangalore                   8300 non-null   int64
 56  city_chennai                     8300 non-null   int64
 57  city_delhi                       8300 non-null   int64
 58  city_hyderabad                   8300 non-null   int64
 59  city_jaipur                      8300 non-null   int64
 60  city_kolkata                     8300 non-null   int64
dtypes: int64(61)
memory usage: 3.9 MB

In [7]:
y

0       400000
1       811000
2       585000
3       462000
4       790000
         ...
8295    509999
8296    180000
8297    550000
8298    140000
8299    500000
Name: price, Length: 8300, dtype: int64

### scaling (standard scaler)

In [4]:
from sklearn.preprocessing import StandardScaler

# Initialize the scaler
scaler = StandardScaler()

# Fit the scaler on the training data and transform it
X_train_scaled = scaler.fit_transform(X_train)

# Only transform the test data (don't fit again to avoid data leakage)
X_test_scaled = scaler.transform(X_test)

print("Data has been standardized.")

Data has been standardized.

In [5]:
X_train.head()

,Car_seats,modelYear,kilometer,ownerNo,engine_cc,gear_box,Mileage,bodytype_encoded,transmission_encoded,fueltype_Cng,...,drivetype_4WD,drivetype_AWD,drivetype_FWD,drivetype_RWD,city_bangalore,city_chennai,city_delhi,city_hyderabad,city_jaipur,city_kolkata
1763,5,2018,28733,1,799,5,22,2,1,0,...,0,0,0,1,0,1,0,0,0,0
3837,5,2016,50000,1,1461,5,19,6,1,0,...,0,0,1,0,0,0,1,0,0,0
632,5,2013,60000,2,1396,6,21,2,1,0,...,0,0,1,0,1,0,0,0,0,0
7132,5,2019,100000,1,1197,5,20,2,1,0,...,0,0,1,0,0,0,0,0,0,1
6398,7,2016,126000,2,2982,4,11,6,0,0,...,0,0,0,1,0,0,0,0,1,0

### Linear Regression

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Initialize the Linear Regression model
model = LinearRegression()

# Train the model
model.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test_scaled)

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Print the results
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("RÂ² Score:", r2)

Mean Absolute Error (MAE): 247541.58909027404
Mean Squared Error (MSE): 180982188007.69916
RÂ² Score: 0.8052905851334639

### model saved in pickel file
### linear regression

In [11]:
import pickle
from sklearn.linear_model import LinearRegression

# Assuming X_train and y_train are already defined
# Initialize and train the Linear Regression model
lin_reg_model = LinearRegression()
lin_reg_model.fit(X_train, y_train)

# Save the model to a file
with open('linear_regression_model.pkl', 'wb') as file:
    pickle.dump(lin_reg_model, file)

print("Linear Regression model saved as 'linear_regression_model.pkl'")

Linear Regression model saved as 'linear_regression_model.pkl'

In [12]:
# Load the model from the file
with open('linear_regression_model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

# Make predictions using the loaded model
# Assuming X_test is the test data
y_pred = loaded_model.predict(X_test)

print("Predictions:", y_pred)

Predictions: [637466.9872406  464663.55060701 826686.94570462 ... 167424.87150143
 824151.56901912 550289.00516956]

### DecisionTreeRegressor

In [10]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Assuming X_train_scaled, X_test_scaled, y_train, y_test are already defined

# Initialize the Decision Tree Regressor
tree_model = DecisionTreeRegressor(random_state=0)

# Define hyperparameters for tuning
param_grid = {
    'max_depth': [None, 5, 10, 15, 20],
    'min_samples_split': [2, 5, 10, 20],
    'min_samples_leaf': [1, 2, 4, 10]
}

# Use GridSearchCV for hyperparameter tuning
grid_search = GridSearchCV(estimator=tree_model, param_grid=param_grid, cv=5, n_jobs=-1, scoring='r2')
grid_search.fit(X_train_scaled, y_train)

# Retrieve the best model after grid search
best_tree_model = grid_search.best_estimator_

# Train the model with the best hyperparameters
best_tree_model.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred = best_tree_model.predict(X_test_scaled)

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Print results
print("Best Hyperparameters:", grid_search.best_params_)
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("RÂ² Score:", r2)

Best Hyperparameters: {'max_depth': 20, 'min_samples_leaf': 1, 'min_samples_split': 10}
Mean Absolute Error (MAE): 170336.76175229103
Mean Squared Error (MSE): 139030279651.7714
RÂ² Score: 0.8504244826646935

### model saved in pickel file
### decision tree

In [13]:
import pickle
from sklearn.tree import DecisionTreeRegressor

# Assuming X_train and y_train are already defined
# Initialize and train the Decision Tree model
dt_model = DecisionTreeRegressor(random_state=42)
dt_model.fit(X_train, y_train)

# Save the model to a file
with open('decision_tree_model.pkl', 'wb') as file:
    pickle.dump(dt_model, file)

print("Decision Tree model saved as 'decision_tree_model.pkl'")

Decision Tree model saved as 'decision_tree_model.pkl'

In [14]:
# Load the model from the file
with open('decision_tree_model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

# Make predictions using the loaded model
# Assuming X_test is the test data
y_pred = loaded_model.predict(X_test)

print("Predictions:", y_pred)

Predictions: [ 473000.  445000.  625000. ...  360000. 1125000.  570000.]

### RandomForestRegressor

In [7]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Assuming X_train_scaled, X_test_scaled, y_train, y_test are already defined

# Initialize the Random Forest Regressor
rf_model = RandomForestRegressor(random_state=0)

# Define the hyperparameter grid for GridSearchCV
param_grid = {
    'n_estimators': [50, 100, 200],         # Number of trees
    'max_depth': [None, 10, 20, 30],        # Maximum depth of the tree
    'min_samples_split': [2, 5, 10],        # Minimum samples required to split a node
    'min_samples_leaf': [1, 2, 4]       # Minimum samples required at each leaf node
    
}

# Set up GridSearchCV
grid_search = GridSearchCV(
    estimator=rf_model,
    param_grid=param_grid,
    cv=5,                  # 5-fold cross-validation
    scoring='r2',          # RÂ² score as the evaluation metric
    n_jobs=-1              # Use all available cores
)

# Fit GridSearchCV on the training data
grid_search.fit(X_train_scaled, y_train)

# Retrieve the best model from the grid search
best_rf_model = grid_search.best_estimator_

# Train the model with the best hyperparameters on the training data
best_rf_model.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred = best_rf_model.predict(X_test_scaled)

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Print the results
print("Best Hyperparameters:", grid_search.best_params_)
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("RÂ² Score:", r2)

Best Hyperparameters: {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 200}
Mean Absolute Error (MAE): 124531.1523782682
Mean Squared Error (MSE): 71787212943.79654
RÂ² Score: 0.9227678348844394

### model saved in pickel file
### random forest

In [15]:
import pickle
from sklearn.ensemble import RandomForestRegressor

# Assuming X_train and y_train are already defined
# Initialize and train the Random Forest model
rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(X_train, y_train)

# Save the model to a file
with open('random_forest_model.pkl', 'wb') as file:
    pickle.dump(rf_model, file)

print("Random Forest model saved as 'random_forest_model.pkl'")

Random Forest model saved as 'random_forest_model.pkl'

In [16]:
# Load the model from the file
with open('random_forest_model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

# Make predictions using the loaded model
# Assuming X_test is the test data
y_pred = loaded_model.predict(X_test)

print("Predictions:", y_pred)

Predictions: [502660.         584509.99       774129.85       ... 378389.97
 784058.33333333 545800.        ]

### Gradient Boosting Regressor

In [8]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

# Assuming X_train_scaled, X_test_scaled, y_train, y_test are already defined

# Initialize the Gradient Boosting Regressor
gb_model = GradientBoostingRegressor(random_state=42)

# Train the model on the training data
gb_model.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred = gb_model.predict(X_test_scaled)

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Print the results
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("RÂ² Score:", r2)

Mean Absolute Error (MAE): 158575.57319797162
Mean Squared Error (MSE): 90140169335.32356
RÂ² Score: 0.9030228343437604

### model saved in pickel file
### gradientboost

In [9]:
import pickle

# Assuming 'model' is the trained model you want to save
model = gb_model  # replace 'gb_model' with the name of your trained model

# Save the model to a file
with open('gb_model.pkl', 'wb') as file:
    pickle.dump(model, file)

print("Model saved as 'gb_model.pkl'")

Model saved as 'gb_model.pkl'

In [10]:
# Load the model from the file
with open('gb_model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

# Use the loaded model to make predictions
# Assuming 'X_test_scaled' is the test data
y_pred = loaded_model.predict(X_test_scaled)

print("Predictions:", y_pred)

Predictions: [463533.64425692 566378.92382512 755479.76656785 ... 359467.30089269
 889844.11182461 475212.61171347]

In [17]:
final_cardata

,Car_seats,modelYear,kilometer,ownerNo,price,engine_cc,gear_box,Mileage,bodytype_encoded,transmission_encoded,...,drivetype_4WD,drivetype_AWD,drivetype_FWD,drivetype_RWD,city_bangalore,city_chennai,city_delhi,city_hyderabad,city_jaipur,city_kolkata
0,5,2015,120000,3,400000,998,5,23,2,1,...,0,0,1,0,1,0,0,0,0,0
1,5,2018,32706,2,811000,1497,5,17,6,1,...,0,0,1,0,1,0,0,0,0,0
2,5,2018,11949,1,585000,1199,5,23,2,1,...,0,0,1,0,1,0,0,0,0,0
3,5,2014,17794,1,462000,1197,5,19,7,1,...,0,0,1,0,1,0,0,0,0,0
4,5,2015,60000,1,790000,1248,5,23,6,1,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8295,5,2022,10000,1,509999,998,5,25,2,1,...,0,0,1,0,0,0,0,0,0,1
8296,5,2014,120000,1,180000,796,5,22,2,1,...,0,0,1,0,0,0,0,0,0,1
8297,5,2011,50000,3,550000,1796,7,11,7,0,...,0,0,0,1,0,0,0,0,0,1
8298,5,2012,40000,1,140000,1197,5,18,2,1,...,0,0,1,0,0,0,0,0,0,1
8299,5,2017,120000,2,500000,1461,6,19,6,1,...,0,1,0,0,0,0,0,0,0,1